.nav a:hover {
background-color: #1c87c9;
transition-delay:0.6s;

}

.sec h1{
	color:orange;
	font-size:4rem;
	text-align:center;
	margin-top:5rem;
	font-family:cursive;
}

.cent{
	margin-left: 17em;
	margin-top: 2em;
}

